@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

.container {
    width: 1600px;
    border: 1px solid #ececec;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
    margin: 0 auto;
}

// start header

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1600px;
    height: 100px;
    border: 1px solid #ececec;
    background-color: #ffffff;
    margin: 0 auto;
    padding-left: 227px;
    padding-right: 231px;

    &__left,
    &__right {
        display: flex;
        align-items: center;
    }

}

.logo {
    display: flex;
    align-items: center;
    width: 200px;
    height: inherit;
    text-decoration: none;

    &__img {
        width: 59px;
        height: 51px;
        background: url(../images/logo.png) no-repeat;
        margin-right: 13px;
    }

    &__text {
        font-size: 27px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;

        & span {
            font-weight: 900;
            color: #f16d7f;
        }
    }
}

.searchForm {
    display: flex;
    align-items: center;

    &__buttonBrowse {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 87px;
        height: 38px;
        background-color: #cdcdcc;
        background-image: linear-gradient(180.0deg, #f9f9f9 0%, #f5f5f5 100%);
        border: 1px solid #e6e6e6;
        border-radius: 3px 0px 0px 3px;
        font-size: 14px;
        line-height: 32px;
        font-weight: 300;
        letter-spacing: 0.025em;
        color: #222222;

        &:hover {
            cursor: pointer;
        }

        & i {
            margin-left: 8px;
        }
    }

    &__input {
        width: 280px;
        height: 38px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        padding-left: 15px;
        padding-right: 15px;

        &::placeholder {
            font-size: 14px;
            line-height: 32px;
            font-weight: 300;
            letter-spacing: 0.025em;
            color: #a4a4a4;
        }
    }

    &__buttonSearch {
        width: 36px;
        height: 38px;
        border-radius: 0px 3px 3px 0px;
        background-color: #ffffff;
        border: 1px solid #e6e6e6;
        font-size: 14px;
        line-height: 32px;
        font-weight: 400;
        letter-spacing: 0.025em;
        color: #a4a4a4;

        &:hover {
            cursor: pointer;
        }
    }
}

.MyAccount {
    width: 130px;
    height: 38px;
    background-color: #f16d7f;
    border: none;
    font-size: 15px;
    line-height: 32px;
    font-weight: 400;
    letter-spacing: 0.025em;
    color: #ffffff;
    margin-left: 26px;

    &:hover {
        cursor: pointer;
    }

    & i {
        margin-left: 8px;
    }
}

//end heaader

//start menu
.navigation {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 1600px;
    height: 51px;
    background-color: #ffffff;
}

.menu {
    width: 680px;
    height: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;

    &__list {
        list-style-type: none;
    }

    &__link {
        text-decoration: none;
        font-size: 14px;
        line-height: 26px;
        font-weight: 700;
        text-transform: uppercase;
        color: #222222;

        &Footer {
            color: #898989;
            ;
        }

        &:hover {
            color: #f16d7f;
            ;
        }

    }
}

//end menu

//start slider
.slider {
    width: 1600px;
    height: 610px;
    background-color: #e8e8e8;
    overflow: hidden;


    &__container {
        height: inherit;
        background: url(../images/topHeaderBack.png) no-repeat 554px 0;
        background-position-x: 760px;
        background-size: 550px;
        display: flex;
        align-items: center;
    }

    &Content {
        height: 92px;
        border-left: 12px solid #f16d7f;
        margin-left: 230px;
        padding-left: 12px;

        &__brand {
            font-weight: 900;
            font-size: 60px;
            line-height: 41px;
        }

        &__fashion {
            font-weight: 400;
            font-size: 40px;
            line-height: 32px;
            margin-top: 19px;

            & span {
                color: #f16d7f;
            }
        }
    }
}

//end slider

//start category
.category {
    display: flex;
    justify-content: space-between;
    padding: 98px 230px;
    margin-bottom: 2px;

    &Big {
        width: 560px;
        height: 542px;
        position: relative;
        margin-bottom: 20px;

        &Content {
            position: absolute;
            top: 26px;
            width: 180px;
            height: 82px;
            background-color: #ffffff;
            padding: 16px 18px;

            &__top {
                font-size: 18px;
                line-height: 26px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #222222;

                & span {
                    font-size: 30px;
                    color: #f16d7f;
                }
            }
        }
    }

    &Small {
        width: 560px;
        height: 261px;
        position: relative;
        margin-bottom: 20px;

        &Content {
            position: absolute;
            top: 26px;
            width: 225;
            height: 82px;
            background-color: #ffffff;
            padding: 16px 18px;

            &__top {
                font-size: 18px;
                line-height: 26px;
                font-weight: 900;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #222222;

                & span {
                    font-size: 30px;
                    color: #f16d7f;
                }
            }
        }
    }
}

//end category

//start product
.product {

    &CardWrap {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        padding: 60px 229px 0 231px;
    }

    &Card {
        width: 263px;
        height: 364px;
        position: relative;
        margin-bottom: 46px;

        &:hover {
            box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.10);

            & .productCard__img {
                filter: brightness(40%);
            }

            & .productCard__add {
                display: flex;
                text-decoration: none;
            }
        }

        &__add {
            position: absolute;
            top: 97px;
            left: 70px;
            display: none;
            justify-content: center;
            align-items: center;
            height: 39px;
            width: 123px;
            border: 1px solid #ffffff;
            font-size: 13px;
            font-weight: bold;
            color: #ffffff;
        }

        &__content {
            height: 84px;
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            padding: 19px 91px 21px 15px;
        }

        &__name {
            font-size: 13px;
            line-height: 1.2;
            font-weight: 400;
            text-transform: uppercase;
            color: #222222;
            text-decoration: none;
        }

        &__price {
            line-height: 1.2;
            font-weight: 700;
            text-transform: uppercase;
            color: #f16d7f;
        }
    }

    &Title {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;

        &__heading {
            font-size: 30px;
            line-height: 54px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #222222;
        }

        &__text {
            font-size: 14px;
            line-height: 54px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #9f9f9f;
        }
    }

    &Browse {
        width: 212px;
        height: 48px;
        background-color: #f16d7f;
        border: none;
        margin: 0 auto;
        margin-top: 11px;
        font-size: 16px;
        line-height: 50px;
        font-weight: 700;
        letter-spacing: 0.025em;
        color: #ffffff;
        text-align: center;

        & i {
            margin-left: 9px;
        }
    }
}

//end product


//start feature
.feature {
    display: flex;
    justify-content: center;
    margin-top: 113px;
    margin-bottom: 97px;

    &Bunner {
        width: 767px;
        height: 529px;
        background: url(../images/featureBanerTop.png), url(../images/featureBaner.png) no-repeat;


        &Content {
            padding-top: 146px;
            padding-left: 39px;

            &__heading {
                font-size: 53.7px;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #ffffff;

                & span {
                    color: #f16d7f;
                }
            }

            &__for {
                font-size: 32.2px;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #ffffff;
            }
        }
    }

    &Details {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        width: 373px;
        background-color: #222224;
        color: #fbfbfb;
        padding-top: 55px;
        padding-right: 43px;
        padding-left: 32px;
        padding-bottom: 66px;

        &Box {
            display: flex;

            &:nth-child(2) {
                margin-left: 6px;
            }
        }

        &Card {
            margin-left: 33px;

            &__Head {
                font-size: 20px;
                line-height: 1.2;
                font-weight: 700;
                letter-spacing: 0.025em;
                color: #fbfbfb;
                margin-bottom: 17px;
            }

            &__Text {
                font-size: 13px;
                line-height: 24px;
                font-weight: 300;
                letter-spacing: 0.025em;
                color: #fbfbfb;
            }
        }
    }
}


//end feature


//start subscribeCopy
.subscribeCopy {
    display: flex;
    height: 438px;
    background: url(../images/subscribeCopy.png) no-repeat;

    &Left {
        width: 800px;
        height: inherit;
        background-color: rgba(242, 242, 242, 0.5);
        border-right: 1px solid #ffffff;
        padding-top: 111px;
        padding-left: 230px;
        padding-right: 72px;

        &Content {
            display: flex;

            &__img {
                width: 83px;
                height: 83px;
                margin-right: 28px;
            }

            &__text {
                font-size: 16px;
                line-height: 26px;
                font-weight: 400;
                font-style: italic;
                letter-spacing: 0.025em;
                color: #222224;

                &>p {
                    margin-top: 19px;
                    display: flex;
                    flex-direction: column;
                    font-size: 12px;
                    line-height: 14px;
                    font-weight: 300;
                    color: #222224;
                    font-style: normal;

                    &>span {
                        font-size: 16px;
                        line-height: 26px;
                        font-weight: 700;
                        letter-spacing: 0.025em;
                        color: #f16d7f;
                    }
                }
            }

            &__rectangle {
                width: 140px;
                display: flex;
                justify-content: space-between;
                margin-top: 41px;
                cursor: pointer;

                &>div {
                    width: 38px;
                    height: 4px;
                    background-color: #d6d6d6;
                }

                &>div:nth-child(2) {
                    background-color: #f16d7f;
                }
            }
        }
    }

    &Right {
        width: 799px;
        height: inherit;
        background-color: rgba(242, 242, 242, 0.5);

        &Text {
            width: 271px;
            margin-top: 148px;
            margin-bottom: 35px;
            margin-left: 145px;

            &>h2 {
                font-size: 24px;
                font-weight: 400;
                text-transform: uppercase;
                letter-spacing: 0.025em;
                color: #222224;
                text-align: center;
            }

            &>p {
                font-size: 14px;
                line-height: 24px;
                text-transform: none;
            }
        }

        &Input {
            display: flex;
            justify-content: space-between;
            align-items: center;
            width: 334px;
            height: 46px;
            background-color: #e1e1e1;
            border-radius: 23px;
            margin-left: 92px;

            &>input {
                width: 230px;
                height: inherit;
                border: none;
                background-color: #e1e1e1;
                border-top-left-radius: 23px;
                border-bottom-left-radius: 23px;
                padding-left: 23px;
                outline: none;

                &>::placeholder {
                    opacity: 0.67;
                    margin-left: 28px;
                    font-size: 14px;
                    line-height: 54px;
                    font-weight: 400;
                    letter-spacing: 0.025em;
                    color: #222224;
                }
            }

            &>button {
                width: 104px;
                height: 46px;
                background-color: #f16d7f;
                border-radius: 0px 23px 23px 0px;
                border: none;
                outline: none;
                font-size: 14px;
                font-weight: 400;
                letter-spacing: 0.025em;
                color: #ffffff;
                cursor: pointer;
            }
        }
    }
}

//end subscribeCopy


//start footer
.footer {

    &Nav {
        display: flex;
        justify-content: space-between;
        line-height: 2.9em;

        &Title {
            font-size: 20px;
            font-weight: 700;
            letter-spacing: 0.025em;
            color: #f16d7f;
            list-style-type: none;
        }
    }

    &Top {
        display: flex;
        width: 1600px;
        height: 428px;
        background-color: #ffffff;
        padding: 109px 273px 89px 229px;

        &__logo {
            width: 170px;
            height: 51px;
        }

        &__text {
            width: 427px;
            height: 180px;
            font-size: 13px;
            line-height: 24px;
            font-weight: 300;
            letter-spacing: 0.035em;
            color: #898989;
            overflow: hidden;
            margin-top: 41px;

            &>p:last-child {
                margin-top: 15px;
            }
        }

        &Right {
            width: 608px;
            margin-left: 64px;
        }
    }

    &Bottom {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 1600px;
        height: 79px;
        background-color: #e6e6e6;
        padding-left: 228px;
        padding-right: 231px;

        &__text {
            font-size: 16px;
            line-height: 42px;
            font-weight: 400;
            letter-spacing: 0.025em;
            color: #7a7a7a;
        }

        &__social {
            display: flex;
            justify-content: space-between;
            width: 191px;
            height: 32px;
            font-size: 32px;

            &>a {
                color: #ffffff;
                background: #cccccc;

                &:hover {
                    color: #f16d7f;
                    background: #ffffff;
                }
            }
        }
    }
}

//end footer