@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,400&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  font-family: 'Lato', sans-serif;
}

.container {
  width: 1600px;
  border: 1px solid #ececec;
  -webkit-box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
          box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.17);
  margin: 0 auto;
}

@media (max-width: 320px) {
  .container {
    width: auto;
    margin: 0 auto;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 1600px;
  height: 100px;
  border: 1px solid #ececec;
  background-color: #ffffff;
  margin: 0 auto;
  padding-left: 227px;
  padding-right: 231px;
}

.header__left, .header__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
  height: inherit;
  text-decoration: none;
}

.logo__img {
  width: 59px;
  height: 51px;
  background: url(../images/logo.png) no-repeat;
  margin-right: 13px;
}

.logo__text {
  font-size: 27px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.logo__text span {
  font-weight: 900;
  color: #f16d7f;
}

.searchForm {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.searchForm__buttonBrowse {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 87px;
  height: 38px;
  background-color: #cdcdcc;
  background-image: -webkit-gradient(linear, left top, left bottom, from(#f9f9f9), to(#f5f5f5));
  background-image: linear-gradient(180deg, #f9f9f9 0%, #f5f5f5 100%);
  border: 1px solid #e6e6e6;
  border-radius: 3px 0px 0px 3px;
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #222222;
}

.searchForm__buttonBrowse:hover {
  cursor: pointer;
}

.searchForm__buttonBrowse i {
  margin-left: 8px;
}

.searchForm__input {
  width: 280px;
  height: 38px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  padding-left: 15px;
  padding-right: 15px;
}

.searchForm__input::-webkit-input-placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.searchForm__input:-ms-input-placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.searchForm__input::-ms-input-placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.searchForm__input::placeholder {
  font-size: 14px;
  line-height: 32px;
  font-weight: 300;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.searchForm__buttonSearch {
  width: 36px;
  height: 38px;
  border-radius: 0px 3px 3px 0px;
  background-color: #ffffff;
  border: 1px solid #e6e6e6;
  font-size: 14px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #a4a4a4;
}

.searchForm__buttonSearch:hover {
  cursor: pointer;
}

.MyAccount {
  width: 130px;
  height: 38px;
  background-color: #f16d7f;
  border: none;
  font-size: 15px;
  line-height: 32px;
  font-weight: 400;
  letter-spacing: 0.025em;
  color: #ffffff;
  margin-left: 26px;
}

.MyAccount:hover {
  cursor: pointer;
}

.MyAccount i {
  margin-left: 8px;
}
/*# sourceMappingURL=Checkout.css.map */